/* Silahkan teman2 untuk mengatur css supaya responsive sesuai media yang digunakan bila bagiannya perlu diatur ulang */

/* Untuk Tablet */
@media all and (max-width: 1000px) {
/* header */
  
/* top-wrapper */

  
/* content-wrapper */
  .heading h2 {
    font-size: 20px;
  }
  .product {
    width: 50%;
    margin-bottom: 50px;
  }
  
/* profil-wrapper */
  .profil {
    width : 50%;
  }

/* footer */

  
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
/* header */
  header {
    width: 100%;
  }
  
  .header-list {
    display: none;
  }
  
  .header-menu {
  display: block;
  float: right;
  }
  
/* top-wrapper */
  
  
/* content-wrapper */
  .heading h2 {
    font-size: 20px;
  }
  
  .product {
    width: 100%;
  }

/*   profil-wrapper */
  .profil {
    width : 100%;
  }
  
/* footer */
  
  
}
