* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/* Silahkan pak Adbul Aziz mengerjakan setting css header disini */





/* Silahkan pak Tegsas mengerjakan setting css top-wrapper disini */





/* Silahkan pak Agus mengerjakan setting css content-wrapper disini */





/* Silahkan pak Achmad Fathoni mengerjakan setting css profil-wrapper disini */
.profil {
  float: left;
  width: 20%;
  padding-top: 5px;
}

.profil-wrapper {
  text-align: center;
  background-color: #175b86;

  color: white;
}

.heading h3 {
  padding-top: 15px;
}

.txt-info {
  padding-left: 20px;
  padding-right: 20px;
}

/* Silahkan pak Ahmadi mengerjakan setting css footer disini */




