* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/* Silahkan pak Adbul Aziz mengerjakan setting css header disini */
header {
  position :fixed;
  top: 0;
  z-index: 10;
  Background-color: #393939;
  width: 100%;
  height: 50px;
  color: white;
}

.logo-a22 {
  height: 48px;
  padding-top: 1px;
  padding-left: 40px;
}

.header-logo {
  float: left;
}

.header-list {
  float: right;
}

.header-list a {
  color: white;
  line-height: 50px;
  padding: 0px 40px;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-list a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.fa {
  margin-right: 5px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}



/* Silahkan pak Tegsas mengerjakan setting css top-wrapper disini */
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url("pictures/roket_panglima_2.png");
  background-size: cover;
  color: black;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.top-wrapper h2 {
  opacity: 0.7;
  font-size: 36px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}





/* Silahkan pak Agus mengerjakan setting css content-wrapper disini */
.content-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.product {
  float: left;
  width: 25%;
}

.product-icon {
  border: 1px solid #eee;
  background-color: #E2FCEF;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
  padding: 15px 0;

}

.product-icon p {
  padding-top: 10px;
  top: 44%;
  font-size: 20px;
  width: 100%;
  padding-bottom: 20px;
}

.myproduct-icon {
  width: 200px;
  height: 200px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.product-detail {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.product-detail:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}





/* Silahkan pak Achmad Fathoni mengerjakan setting css profil-wrapper disini */
.profil {
  float: left;
  width: 20%;
  padding-top: 5px;
}

.profil-wrapper {
  text-align: center;
  background-color: #175b86;
  color: #FFFFFF;
  padding-left: 5%;
  padding-right: 5%;
}

.heading-profil {
  padding-top: 10px;
}

.txt-info {
  padding-left: 20px;
  padding-right: 20px;
}

/* Silahkan pak Ahmadi mengerjakan setting css footer disini */


footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer h1 {
  font-size: 12px;
}

.bawah {
  float: left;
  width: 25%;
}



