* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/* Silahkan pak Adbul Aziz mengerjakan setting css header disini */





/* Silahkan pak Tegsas mengerjakan setting css top-wrapper disini */





/* Silahkan pak Agus mengerjakan setting css content-wrapper disini */
.content-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.product {
  float: left;
  width: 25%;
}

.product-icon {
  border: 1px solid #eee;
  background-color: #E2FCEF;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
  padding: 15px 0;

}

.product-icon p {
  padding-top: 10px;
  top: 44%;
  font-size: 20px;
  width: 100%;
  padding-bottom: 20px;
}

.myproduct-icon {
  width: 200px;
  height: 200px;
}

.product-detail {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.product-detail:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}





/* Silahkan pak Achmad Fathoni mengerjakan setting css profil-wrapper disini */
.profil {
  float: left;
  width: 20%;
  padding-top: 5px;
}

.profil-wrapper {
  text-align: center;
  background-color: #175b86;

  color: white;
}

.heading h3 {
  padding-top: 15px;
}

.txt-info {
  padding-left: 20px;
  padding-right: 20px;
}

/* Silahkan pak Ahmadi mengerjakan setting css footer disini */




